/* profile photo */
.profile-page .profile-pic {
    flex: 0 0 auto;
    position: relative;
    left: 600px;
    top: 20px;
}

/* profile username  */
.profile-page .profile-username {
    position: relative;
    color: black;
    background-color: #91aeb2;
    border-radius: 30px;
    height: 40px;
    width: 150px;
    flex: 0 0 auto;
    font-family: 'Caveat', sans-serif;
    font-size: 23px;
    left: 570px;
    bottom: 110px;
    padding: 0px;
}

/* cart button */
.profile-page .cart {
    position: relative;
    color: black;
    background-color: #ffffff;
    border-radius: 10px;
    height: 40px;
    width: 170px;
    flex: 0 0 auto;
    font-family: 'Caveat', sans-serif;
    font-size: 23px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.80);
    left: 980px;
    bottom: 250px;
    padding: 0px 0px 0px 30px;
    justify-content: space-between;
}

.profile-page .cart .profile-cart {
    font-family: 'Caveat', sans-serif;
    font-size: 23px;
    padding: 0 0 0 35px;
    bottom: 180px;
    position: relative;
    background: none;
    border: none;
}

.profile-page .cart #cart {
    top: 7px;
    right: 10px;
    position: relative;
}

/* wishlist button */
.profile-page .wishlist {
    position: relative;
    color: black;
    background-color: #ffffff;
    border-radius: 10px;
    height: 40px;
    width: 170px;
    flex: 0 0 auto;
    font-family: 'Caveat', sans-serif;
    font-size: 23px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.80);
    left: 980px;
    bottom: 150px;
    padding: 0px 0px 0px 30px;
    justify-content: space-between;
}

.profile-page .wishlist .profile-wishlist {
    font-family: 'Caveat', sans-serif;
    font-size: 21px;
    background: none;
    width: 200px;
    position: relative;
    bottom: 190px;
    right: 40px;
    border: none;
}

.profile-page .wishlist #profile-heart {
    top: 7px;
    right: 10px;

    position: relative;
}


/* box css */
.profile-page .profile-box {
    height: 352px;
    border: 2px solid #ededed;
    width: 914px;
    background-color: #ededed;
    bottom: 140px;
    left: 270px;
    position: relative;
    /* align-items: center; */
}

/* left-top corner photo */
.profile-page .profile-box .profile-1 {
    position: relative;
    /* margin-bottom: 100px; */
    top:20px;
    /* margin: 20px; */
    left: 35px;
    width: 13%;
}

/* left-bottom corner photo */
.profile-page .profile-box .profile-2 {
    top: 130px;
    position: relative;
    width: 25%;
}

/* right side photo */
.profile-page .profile-box .profile-3 {
    left: 550px;
    bottom: 180px;
    position: relative;
}

/* name label */
.profile-page .profile-box .profile-name {
    bottom: 450px;
    left: 200px;
    position: relative;
    /* font-family: 'Caveat', sans-serif;   */
}

/* name input */
.profile-page .profile-box .profile-name-input {
    bottom: 450px;
    left: 210px;
    position: relative;
}

/* age label */
.profile-page .profile-box .profile-age {
    position: relative;
    bottom: 400px;
    flex: 0 0 auto;
    right: 30px;
}

/* age input */
.profile-page .profile-box .profile-age-input {
    position: relative;
    bottom: 400px;
    right: 7px;
}

/* email label */
.profile-page .profile-box .profile-email {
    position: relative;
    bottom: 355px;
    right: 255px;
}

/* label input */
.profile-page .profile-box .profile-email-input {
    position: relative;
    bottom: 355px;
    right: 245px;
}

/* favorite book genre label */
.profile-page .profile-box .profile-genre {
    position: relative;
    bottom: 310px;
    right: 495px;
}

/* favorite book genre input */
.profile-page .profile-box .profile-genre-input {
    position: relative;
    bottom: 340px;
    left: 370px;
}

/* suggestion button */
.profile-page .profile-box .profile-suggestion {
    bottom: 440px;
    position: relative;
    left: 320px;
    color: black;
    background-color: #c15c54;
    border-radius: 30px;
    height: 40px;
    width: 160px;
    padding: 0 0 0 0 ;
    flex: 0 0 auto;
    font-family: 'Caveat', sans-serif;
    font-size: 23px;
}

.profile-page .profile-box .profile-email-input,
.profile-page .profile-box .profile-genre-input,
.profile-page .profile-box .profile-age-input,
.profile-page .profile-box .profile-name-input {
    background-color: #ededed;
    /* border: none; */
    /* border: 1px solid black; */
    font-size: 23px;
    font-family: 'Caveat', sans-serif;
    ;
}



