.thankyou .thank-you-img {
    left: 450px;
    top: 60px;
    position: relative;
}

.thankyou .thankyou-btn {
    left: 620px;
    top: 90px;
    position: relative;
    background-color: var(--admin-teal-dark);
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}